html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #cbdff7;
    background-image: linear-gradient(330deg, #cbdff7 0%, #ffffff 64%);
}


.hero-body {
    padding: 1rem 2rem;
}

.hero-body .image {
    padding: 0 1.5rem;
}

.footer, .navbar {
    background-color: initial;
}

@media screen and (min-width: 769px), print {
    .hero-body {
        padding: 2rem 2rem;
    }

    .hero-body .image {
        padding: 0;
    }
}

.tag {
    transition: 1s ease-in-out;
}

.trans-delay-05 {
    transition-delay: 0.5s;
}

.trans-delay-075 {
    transition-delay: 0.75s;
}

.trans-delay-1 {
    transition-delay: 1s;
}

.trans-delay-125 {
    transition-delay: 1.25s;
}

.trans-delay-15 {
    transition-delay: 1.5s;
}

.trans-delay-175 {
    transition-delay: 1.75s;
}

.trans-delay-2 {
    transition-delay: 2s;
}
